/* All styles for your Card Components live here */
.cardContainer {
    border:1px solid blue;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card {
    border:1px solid lightgray;
    width: 80%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card img {
    width:100%;
}

.cardContent {
    padding-left: 2rem;
}